<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>hostname</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>1433</param-value>
    </context-param>
    <context-param>
        <param-name>databaseName</param-name>
        <param-value>ShoppingDB</param-value>
    </context-param>
    <context-param>
        <param-name>instanceName</param-name>
        <param-value>NHATTHANG</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>sa123456</param-value>
    </context-param>
    <!--Servlet Name-->
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DispatcherController</servlet-name>
        <servlet-class>sample.controller.DispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFullNameController</servlet-name>
        <servlet-class>sample.controller.SearchFullNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>sample.controller.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NullController</servlet-name>
        <servlet-class>sample.controller.NullController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemController</servlet-name>
        <servlet-class>sample.controller.AddItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>sample.controller.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>sample.controller.RemoveItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>sample.controller.CreateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DispatcherController</servlet-name>
        <url-pattern>/DispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFullNameController</servlet-name>
        <url-pattern>/SearchFullNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NullController</servlet-name>
        <url-pattern>/NullController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemController</servlet-name>
        <url-pattern>/AddItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/RemoveItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Welcome File-->
    <welcome-file-list>
        <welcome-file>DispatcherController</welcome-file>
    </welcome-file-list>
</web-app>
